* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  font-size:15px;
  color:#c7c6c6;
  line-height:26px;
  font-weight:400;
  background:rgb(233, 233, 233);
  font-family: 'Lato', sans-serif;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.main-header{
  position:relative;
  left:0px;
  top:0px;
  z-index:999;
  width:100%;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.container {
    padding: 0px 11.4%;
  }
  input,button,select,textarea{
  font-family: 'Hind', sans-serif;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}
.preloader{
position: fixed;
 left:0px;
 top:0px;
 height:100%;
 width: 100%;
 z-index:999999;
 background-color:#ffffff;
 background-position:center center;
 background-repeat:no-repeat;
 background-image:url(../images/preloader/preloader.gif);}

 

 .header-upper{
  position: relative;
  background: #232428;
  width: 100%;
  padding: 9px 0px;
}
.header-upper .top-left{
  position: relative;
  display: inline-block;
}
.header-upper .top-left li{
  position: relative;
  display: inline-block;
  font-size: 12.5px;
  color: #d3d7ce;
  top: 1px;
  margin-right: 45px;
}
.header-upper .top-left li:before{
  position: absolute;
  content: '';
  background: #656669;
  width: 1px;
  height: 20px;
  right: -30px;
  top: 3px;
}
.header-upper .top-left li:last-child:before{
  display: none;
}
.header-upper .top-left li i:before{
  font-size: 14px;
  margin-right: 7px;
}
.header-upper .top-right{
  position: relative;
  float: right;
  margin-right: 1.5%;
}
.header-upper .top-right .social-top{
  position: relative;
  display: inline-block;
  margin-left: 14px;
  top: 1px;
}

.header-upper .top-right .social-top li a{
  position: relative;
  display: inline-block;
  color: #cfcfcf;
  line-height: 26px;
  font-size: 14px;
}
.header-upper .top-right .social-top li a:hover{
  color:  #337ab7;
}
.header-upper .top-right .social-top li{
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 26px;
}

.logo-box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.main-header .info-box{
  position: relative;
  display: inline-block;
}
.main-header .menu-bar{
  position: relative;
  float: right;
  right: 2px;
}
.header-upper .search-box-area .search-toggle i:before{
  font-size: 14px;
  color: #cfcfcf;
  margin: 0px;
  transition: all 500ms ease;
}
.header-upper .search-box-area .search-toggle:hover i:before{
  color:  #337ab7;
  transition: all 500ms ease;
}
.header-upper .search-box-area{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: -8px;
  top: 1px;
}
.header-upper .search-box-area:before{
  position: absolute;
  content: '';
  background: #656669;
  width: 1px;
  height: 20px;
  top: 3px;
  right: -21px;
}
.header-upper .search-box-area .search-box {
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 35px;
  transition: all 500ms ease;
  visibility: hidden;
}

.header-upper .search-box-area {
  position: relative;
}
.header-upper .search-box-area .form-group button{
  position: absolute;
  top: 2px;
  right: 0px;
  width: 46px;
  height: 46px;
  color: #fff;
  background:  #337ab7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  z-index: 10;
}
.header-upper .search-box-area input{
  width: 250px;
  height: 50px;
  border: 2px solid  #337ab7;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9;
}
.search-box-area .search-box.now-visible {
  top: 35px;
  right: 0px;
  opacity: 1;
  visibility: visible;
  z-index: 9;
  transition: all 500ms ease;
}
.header-lower{
  position: relative;
  width: 100%;
  height:12vh;
  background: #fff;
  z-index:0;
  display: flex;
  flex-direction: row;

}

/* code to control the scroll bar */
body::-webkit-scrollbar {
width: 0;
}

body::-webkit-scrollbar-track {
background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
background: #6649b8;
}


.logo-box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container1{
  width: 50%;
}
.container2{

  width: 50%;
}
nav{
height: 100% ;
  
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav ul{
 text-align: center;
  list-style: none;
  position: relative;
}
nav ul li{
  display: inline-block;
  margin: 0 5px;
}
nav ul li a{ 
  color: rgb(71, 71, 71);
  line-height: 70px;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 15px;
  font-family: 'Open Sans', sans-serif;
}
nav ul li a:hover{
  color: #337ab7;

}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  padding-top: 0;
  position: absolute;
  top: 90px;
  border-top: 3px solid #337ab7;
  visibility: hidden;
  transition: top .3s;
  background: #222;
  opacity: 0;
  transition: 0.3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  text-align: left;
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid #337ab7;
}
nav ul ul li a{
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,.inp{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
.blue{
  color: #337ab7;}


/* Navigational bar */
.navbar {
  position:fixed ;
  height:90vh;
  max-height: 100%!important;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 101;
  margin-right: 20%;
}
.ch{
  opacity: .8;
}
.navbar-nav {
  
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  opacity: 0.6;
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
 
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: inline;
  margin-left: 1rem;
  color:aliceblue;
}

.nn {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  margin-left: 11rem;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: 0px;
  transition: var(--transition-speed);
}


.char:hover{
  color:  #337ab7;
  transition: var(--transition-speed);
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}
.sbox{
  width:100%;
  height: 4vh;
  background-color:#23232e;
  z-index: 2!important;
}
.mm{
color: #ffffff;
opacity: 1;
}
  /* Main Content */
  .mbox{
    margin-left: 266px;
    height: auto;
    color: black;
    z-index: 99999999999999;
    overflow: hidden;
  }  
.col1 {
  text-align: left!important;
width: 100%;
height: 6vh;
background-color: white;
z-index: 2!important;
z-index:99999999;
margin-left: -3vw;
margin-top: 1vh;
  }
.col1 h1{
  padding-top: 1vh;
  padding-left: 3vw;
  color: #24242c;
  font-family:'Lato', sans-serif!important;
  font-size:1.5rem;
}
.maingrid {
  display: grid;
  left: 30px!important;
  grid-template-columns: 28vw 45vw;
  grid-template-rows: 17vh auto;
  grid-row-gap:1vh;
  padding-top: 12vh;
  padding-left: 4%;  
  margin-bottom: 7vh;
}
.grid1,.grid2,.grid3{
  background: #ffffff;
}
.bl1{
max-width: 25vw;
height: 100%;
padding: 3vh 3vw;
font-weight: 550;
}
.bl1 h4{
font-size: 1rem;
font-family: 'Roboto', sans-serif;
}
.bla{
color: #337ab7;
padding-right: 1.5vw;
}
.grid2{
border-right: 1px solid  rgb(233, 233, 233);

}
.pic{
width: 100%;
height: 30%;
}
.img-m{
background-image:url(../images/profile/profile.jpg);
background-size: cover;
background-repeat:no-repeat;
vertical-align: middle;
width: 150px;
height: 150px;
margin: 4vh 0;
}
.hh{
border: 1px solid rgb(255, 255, 255);
background: rgb(164, 195, 202);
margin: 0 20%;
color: rgb(83, 83, 83);
font-size: 0.8rem;
}
.grid-container {
display: grid;
grid-template-columns: 50% 50% ;
grid-row-gap:5px;
padding: 10px;
font-size: 0.8rem;
margin-left: 2.5vw;
}
.grid-item{
width: fit-content;
}
.bb{
font-weight: 560;
}
.sp{
width: 100%;
height: 5vh;
}
.option-a{
display: block;
display: flex;
flex-direction: row;
justify-content: space-evenly;
color: rgb(138, 138, 138);
border-bottom: 2px solid rgb(233, 233, 233);
}
.option-b{
display: none;
}
.item{
margin-top: 1vh;
border-right: 1px solid rgb(233, 233, 233);
padding-right: 5vw;
padding-left: 3.5vw;
color: #141418;
font-weight: bold;
}
.notify{
color: #2b5d8a;
}
.feedback{
margin-top: 1vh;
padding-right: 3.5vw;
padding-left: 6vw;
color: #141418;
font-weight: bold;
}
.content{
width: 100%;
height: 100%;
}
.room-a,.feed-a{
display: none;
}
.notify-a,.room-a,.feed-a{
width: 90%;
height: auto;
padding-left: 2vw;
padding-top: 4vh;
font-family: 'Barlow Condensed', sans-serif;
}
.feed-a p{
padding-bottom: 3vh;
}
.text-ar{
width:90%;
border:  1px solid rgb(233, 233, 233);
}
.sub{
background: #337ab7;
color: #ffffff;
width: 7vw;
height: 5vh;
margin-top: 1vw;
}
.tl-f:hover{
background-color: #ffffff!important;
}
#auth {
border-collapse: collapse;
width: 100%;
height:40vh;
margin-bottom: 3vh;
overflow-x: scroll;
overflow-y: scroll;
font-size: 0.75rem;
}

#auth td, #auth th {
border-bottom: 1px solid rgb(233, 233, 233);
padding: 2px;
text-align: center;
height: auto;
}

#auth tr:nth-child(even){background-color: #fafafa;}

#auth tr:hover {background-color: #ddd;}

#auth th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
}
.ic{color: #337ab7!important;
}
.mem1,.mem2{
display: flex;
flex-direction: row;
width: 100%;
height: 25vh;
border-bottom: 1px solid rgb(233, 233, 233);
}
.mem2{
margin-top: 3vh;
}
.b2,.b4{
width: 50%;
height: 100%;
}
.b1,.b3{
width: 30%;
height: 100%;
}
.p1,.p2{
background-image:url(../images/profile/profile.jpg);
background-size: cover;
background-repeat:no-repeat;
vertical-align: middle;
width: 80px;
height: 80px;
margin: 2vh 0;
}
.con1,.con2{
margin-top: 2vh;
font-size: medium;
font-weight: 500;
color: #141418;
}
.bn-c{
margin-top: 1vh;
margin-right: 2vw;
background-color: #337ab7;
color: #ffffff;
padding: 1px 10px;
font-size: 0.7rem;
}
.bn-r{
background-color: #337ab7;
color: #ffffff;
padding: 1px 10px;
font-size: 0.8rem;
}
#nm2{
color: #337ab7;
font-weight: bold;
}
#rm2,#fk2{
color: #141418;
font-weight: bold;
}
/* large screens */
@media only screen and (min-width: 825px) {
  .header-upper{
    display: none!important;
    top: 0;
   position: fixed;
   height:3.8vh;
   background: #232428;
   width: 100%;
   padding: 9px 0px;
   z-index: 999;
 }  .header-lower{
    position: fixed;
    width: 100%;
    height:8vh;
    background: #fff;
    z-index:9999;
    display: flex;
    flex-direction: row;  }
.logo-box{
      background: url(../images/logo/logo1.png) no-repeat   ;
      height: 5vh;
      background-size: 100% 100%;
      margin-top: 2vh;
      margin-left: 15%;
      width:12vw;
    }
  .sbox{
    position: fixed;
    margin-top: -4vh;
    height: 4.3vh;
    z-index:9999;
  }
main{
padding-top:12vh ;
}
.col1 {
position: fixed;
}
.grid1 {
  grid-area: 1/1/1/3;
    }
}
 /* Medium screens */
 @media only screen and (max-width: 1075px) {
  .maingrid {
  grid-template-columns: auto 44vw;
    padding-left: 0;  
  }
  .grid-container {
    grid-template-columns: 50% 30% ;
    padding: 5px;
    margin-left: 1vw;
  }
}
 /* Medium screens */
 @media only screen and (max-width: 1200px) {
  .item{

    padding-right: 4vw;
    padding-left: 2.2vw;
  }
  .feedback{
    padding-right: 2.5vw;
    padding-left: 4vw;
  }
  } 

/* Small screens */
@media only screen and (max-width: 825px) {
  .container {

padding: 0px 0px;
text-align: center;
align-items: center;
}
.header-upper{
z-index: 99;
}
.header-lower{
  padding-bottom: 3vh;
  height:12vh;
  z-index: 50;
}
.header-upper .top-right{
  float: none;
        margin: auto;
}
.search-box-area .search-box.now-visible,
    .header-upper .search-box-area .search-box{
        right: -200px;
    }
    .header-upper .top-left li{
        margin: 0 auto;
        width: auto;
        display: block;
    }
    .header-upper .top-left li:before{
        display: none;
    }
    .header-upper .top-left{
        display: block;
    }
    .fixed .logo-box{
        display: none;
    }
    .menu-bar .btn-box{
        top: 3px;
    }
  .header-upper,.header-lower{
    width:100%;
  }
  .header-lower{
  flex-direction: column;
  
}
.container1{
  width: 100%;
}
.logo-box{
  background: url(../images/logo/logo1.png) no-repeat ;
  height: 10vh;
  background-size: 100% 100%;
  margin-top: 3vh;
  margin-bottom: 4vh;
  margin-left: 26%;
  width:50vw;
 }
.container2{
  width: 100%;
  margin-bottom: 20vh;
  background: #fff;
}
nav ul{
    width: 100%;
    margin-right: 0px;
    text-align: left;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: gray;
  }
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    color: var(--text-secondary);
  }
  .show{
    display: block;
    font-size: 16px;
    line-height: 70px;
    cursor: pointer;
    color: #656669;    }

  .icon{
    display: block;
    color: #337ab7;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul li{
    border: 1px solid rgb(226, 226, 226);
    padding-left: 5vw;
    width: auto;
}

  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    text-align: left;
    background: #fff;
  }
  nav ul ul li{
    margin-left: -3vw;
  width: auto;
}
nav ul ul li a{
  font-size: 13px;
  color:black;
}
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  nav ul li a{
    padding: 8px 0;
    font-size: 16px;

  }
  
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
    margin-right:0;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    width: 100%;
  }

  .nav-link {
    justify-content: center;
  }
.nav-item{
  width: 23%;
  z-index: 3;
  margin: 0;
}
.nav-item:last-child {
  margin-right: 2vw;
}
  .link-text{
 display: none;
  margin-left: 0;
  }
  .nn{
  width: auto;
  margin-right: 0;
}
.last{
  margin-bottom: 12px;
}
.mbox{
 margin-left:0px;
 
}
.col1 {
z-index:99999999;
margin-left: 0;
position: relative;
  }
  .maingrid {
    display: grid;
    left: 30px!important;
    grid-template-columns: 90vw;
    grid-template-rows: 15vh auto auto;
    grid-row-gap:2vw;
    padding-top: 3vh;
    padding-bottom: 8vh;
    padding-left: 5%;  
  }
  .grid2{
    padding-bottom: 3vh;
  }
  .bl1{
    max-width: 100%;
    padding: 0.5vh 3vw;
    max-height: 1vh;
    font-size: 0.8rem;
  }
  .bl1 h4{
    font-size: 0.9rem;
  }
  .lab{
    padding-top: 1vh;
  }
  .bla{

    padding-right: 6vw;
  }
  .option-a{
    display: none!important;
  }
  .option-b{
    display: block;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
  
  .feed{
    color: #337ab7;
    font-weight: 600;
  }
  .sub{
    background: #337ab7;
    color: #ffffff;
    width: 80%;
    height: 5vh;
    margin: 1vw 10%;
    align-items: center;
  }
  .ic{
    font-size: 1.1rem;
    padding: 3px;
  }
}
